{% load static %}
<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
        <h3 style="text-align: center;">ই-প্রশ্ন ব্যাংক</h3>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-ex-10">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-ex-10">

            <ul class="navbar-nav ms-lg-auto">
                <!-- Style Switcher -->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle hide-arrow btn btn-icon btn-text-secondary rounded-pill"
                            id="nav-theme"
                            href="javascript:void(0);"
                            data-bs-toggle="dropdown">
                        <i class="icon-base ti tabler-sun icon-22px theme-icon-active text-heading"></i>
                        <span class="d-none ms-2" id="nav-theme-text">Toggle theme</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="nav-theme-text">
                        <li>
                            <button
                                    type="button"
                                    class="dropdown-item align-items-center active"
                                    data-bs-theme-value="light"
                                    aria-pressed="false">
                                <span><i class="icon-base ti tabler-sun icon-22px me-3" data-icon="sun"></i>আলো</span>
                            </button>
                        </li>
                        <li>
                            <button
                                    type="button"
                                    class="dropdown-item align-items-center"
                                    data-bs-theme-value="dark"
                                    aria-pressed="true">
                        <span
                        ><i class="icon-base ti tabler-moon-stars icon-22px me-3" data-icon="moon-stars"></i
                        >অন্ধকার</span
                        >
                            </button>
                        </li>

                    </ul>
                </li>
                <!-- / Style Switcher-->
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a
                            class="nav-link dropdown-toggle hide-arrow p-0"
                            href="javascript:void(0);"
                            data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="{% static 'assets/img/avatars/1.png' %}" alt class="rounded-circle"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item mt-0" href="{% url 'dashboard' %}">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 me-2">
                                        <div class="avatar avatar-online">
                                            <img src="{% static 'assets/img/avatars/1.png' %}" alt
                                                 class="rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0">{{ user.username }}</h6>
                                        <small class="text-body-secondary">
                                            {% if user.is_superuser %}
                                                এডমিন
                                            {% else %}
                                                শিক্ষক
                                            {% endif %}
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider my-1 mx-n2"></div>
                        </li>
                        <li>
                            <div class="d-grid px-2 pt-2 pb-1">
                                <a class="btn btn-sm btn-danger d-flex" href="{% url 'logout' %}">
                                    <small class="align-middle">লগ আউট</small>
                                    <i class="icon-base ti tabler-logout ms-2 icon-14px"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>