{% extends "users/base.html" %}
{% load static %}
{% comment %} file: core/templates/core/dashboard.html {% endcomment %}
{% block title %}ড্যাশবোর্ড | ই-প্রশ্ন ব্যাংক{% endblock %}

{% block content %}
    {# -- ড্যাশবোর্ডের ইউনিক কন্টেন্ট শুধু এখানে থাকবে -- #}
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-info">স্বাগতম {{ user.username }}! 🎉</h5>
                            <p class="mb-4">
                                আপনি আপনার ড্যাশবোর্ডে সফলভাবে লগ ইন করেছেন।
                            </p>
                            <a href="#" class="btn btn-sm btn-outline-info">View Badges</a>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="{% static 'assets/img/illustrations/img.png' %}" height="140" alt="View Badge User">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}